@import "tailwindcss";

/* Variables globales para modo oscuro permanente */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

